<!DOCTYPE html>

{% extends "home/home_base.html" %}
{% load static %}
{% block head_title %}home{% endblock %}

{% block extra_header %}
  {% include 'core/intro_section.html' %}
{% endblock %}

{% block content %}
  <main>
    <section>
      <div class="container">
        <h1 class="section-title">About Us</h1>
        <div class="row">
          <div class="col-md-6 col-sm-12 offset-md-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat autem corrupti odio fugit quidem fugiat, laborum cumque, dolore quaerat libero porro natus nihil amet quas, tempore in non. Quisquam, ullam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi inventore facilis et enim, ullam doloremque necessitatibus consequatur harum quod alias impedit commodi eos deleniti aut error voluptatibus exercitationem explicabo perferendis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae libero officiis provident molestias! Debitis reiciendis distinctio inventore quisquam asperiores, sequi, quos cumque hic, fuga eligendi repellendus repellat nam reprehenderit necessitatibus.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima nulla provident id, libero repudiandae iste sint ipsum, reprehenderit quos velit corrupti adipisci necessitatibus maiores expedita earum possimus sed architecto error.
          </div>
        </div>
      </div>
    </section>

    <section>

    </section>
  </main>
{% endblock %}
