
/*************************************** home ***************************************/

.home{
  max-width: 90%;
  margin: 0 auto;
}


.question-col{
  padding: 0 5px;
  margin: 0 0;
}
.question-card{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.question-card .card-body {
    padding: 0.2em 1.25rem;
    font-size: 0.85rem;
}


.question-card .card-footer {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 0.85rem;
}

.question-card .card-header{
  font-size: 0.85rem;
}

.question-card .card-title {
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
}

.question-card p{
   margin-top: 0;
   margin-bottom: 0.6rem;
   line-height: 0;
}
.question-card .btn {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    line-height: 1em;
  }

  .question-card .card-footer::before{
    content: "Level ";
  }

  /*************************************** question_details ***************************************/

.section-question-details,
.section-question-preview,
.section-related-questions{
    margin-top: 20px;
  }

.section-question-preview .card-header{
    padding: 5px 5px;
  }

.question-preview-card{
  min-height: 520px;
  height: 520PX;
  max-height: 520px;
  overflow-y: scroll;
}

.section-related-questions .question-col {
      padding: 0 5px;
      margin: 0 0;
  }
