{% extends "account/account_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block page_title %}Sign Out{% endblock %}
{% block page_subtitle %}and let's exit our account{% endblock %}
{% block form %}

<h6 class="text-center">{% trans 'Are you sure you want to sign out?' %}</h6>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary form-submit_btn" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
