<!DOCTYPE html>
<html>
  {% load static  %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "core/vendor/font-awesome/css/fontawesome-all.css" %} ">
    <link rel="stylesheet" href="{% static "core/vendor/boostrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/core.css" %}">
    {% block base_extra_head %}

    {% endblock %}
    <title>{% block head_title %}base template(core){% endblock %}</title>
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    <div id="overlay" class="overlay"></div>
    {% block body %}
      {% block header%}
        <header class="">
          <div class="header-top box-shadow-primay bg-primary">
            <div class="container">
              <div class="row text-center">
                <div class="col-3"  >
                  {% include "core/nav.html" %}
                </div>
                <div class="col-6">
                  <a href="" class="text-white">MS Question</a>
                </div>
              </div>
            </div>
          </div>
          {% block extra_header %}{% endblock %}
        </header>
        {% endblock %}

      {% block notification %}
        {% include 'core/notification_box.html' %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% endblock %}
      {% block extra_body %}
    {% endblock %}
    {% include "core/footer.html" %}
    <script type="text/javascript" src="{% static "core/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "core/vendor/boostrap/js/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "core/vendor/boostrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "core/js/core.js" %}"></script>
    <script type="text/javascript" src= "{% static "core/js/nav.js" %}"></script>
    {% block extra_script %}
    {% endblock %}
  </body>
</html>
