{% load static %}
<footer class="footer box-shadow-primay bg-primary">
  <div class="container">
    <div class="row">
    <div class="col-md-6 my-3">
      <img src="" alt="Logo" class="border mb-2" style="min-width:80px;min-height:80px;">
      <p class="text-muted"> &copy; 2018 MegasageGH, Partnership Venture. All rights reserved. <br />
        Proudly made in Ghana
       </p>
       <div class="social">
         <a class="text-muted fas fa-laptop" href="#"></a>
         <a class="text-muted fas fa-laptop" href="#"></a>
         <a class="text-muted fas fa-laptop" href="#"></a>
       </div>
    </div>
      <div class="col-md-2">
        <ul class="list-group">
          <li class="list-group-item"> <h6>Company</h6></li>
          <li class="list-group-item"> <a class="text-muted" href="#">About</a></li>
          <li class="list-group-item"> <a class="text-muted" href="#">Blog</a></li>
          <li class="list-group-item"> <a class="text-muted" href="#">Security</a></li>
          <li class="list-group-item"> <a class="text-muted" href="#">Legal</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-group">
          <li class="list-group-item"><h6>Products</h6></li>
          <li class="list-group-item"> <a class="text-muted" href="#">Past Questions</a></li>
          <li class="list-group-item"> <a class="text-muted" href="#">Solutions to questions</a></li>
          <li class="list-group-item"> <a class="text-muted" href="#">Tutorials</a></li>
          <li class="list-group-item"> <a class="text-muted " href="#">Learning Materials</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-group">
          <li class="list-group-item"> <h6>Support</h6></li>
          <li class="list-group-item"> <a class="text-muted" href="#">Contacat Support</a></li>
          <li class="list-group-item"> <a class="text-muted" href="#">FAQS</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
